@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*HEADER START*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
    border-bottom: 1px solid #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background-color: #fefefe;
}

.header .logo a {
    color: #111b01;
    text-decoration: none;
    font-weight: 600;
}

.header nav ul {
    display: flex;
    list-style: none;
}

.header nav ul li {
    margin: 0 20px;
}

.header nav li a {
    position: relative;
    display: block;
    text-decoration: none;
    color: #11101b;
}

.header nav li a::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0;
    background-color: #11101b;
    transition: 0.5s;
}

.header nav li a:hover::after {
    width: 100%;
}

.header .hamburger {
    display: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .header {
        padding: 15px 120px;
        border-bottom: 1px solid #000;
    }

    .header .hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    .header .hamburger .line {
        width: 30px;
        height: 3px;
        background-color: #11101b;
        margin-bottom: 3px;
        border-radius: 15px
    }

    .header nav {
        position: absolute;
        top: 76px;
        width: calc(100% - 240px);
        height: 0;
        background-color: #11101b;
        color: #fefefe;
        transition: 0.5s;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        z-index: 10;
    }

    .header nav.active {
        height: 250px;
    }

    .header nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
        opacity: 0;
        transition: 0.5s;
    }

    .header nav ul.active {
        opacity: 1;
    }

    .header nav ul li a {
        color: #fefefe;
        margin-bottom: 15px;
        font-size: 22px;
    }

    .header nav li a::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        height: 3px;
        width: 0;
        background-color: #fefefe;
        transition: 0.5s;
    }

    .header nav li a:hover::after {
        width: 100%;
    }
}

@media(min-width: 2560px) {
    .header {
        padding: 50px 200px;
        padding-left: 12%;
    }

    .header .logo a {
        font-size: 45px;
    }

    .header nav li a {
        font-size: 25px;
    }
}

@media (max-width:768px) {
    .header {
        padding: 15px 50px;
        border-bottom: 1px solid #000;
    }

    .header nav ul li {
        margin: 0 10px;
    }

    .header .hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    .header .hamburger .line {
        width: 30px;
        height: 3px;
        background-color: #11101b;
        margin-bottom: 3px;
        border-radius: 15px
    }

    .header nav {
        position: absolute;
        top: 76px;
        width: calc(100% - 100px);
        height: 0;
        background-color: #11101b;
        color: #fefefe;
        transition: 0.5s;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        z-index: 10;
    }

    .header nav.active {
        height: 250px;
    }

    .header nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
        opacity: 0;
        transition: 0.5s;
    }

    .header nav ul.active {
        opacity: 1;
    }

    .header nav ul li a {
        color: #fefefe;
        margin-bottom: 15px;
    }

    .header nav li a::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        height: 3px;
        width: 0;
        background-color: #fefefe;
        transition: 0.5s;
    }

    .header nav li a:hover::after {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .header {
        padding: 15px 25px;
        border-bottom: 1px solid #000;
    }

    .header .logo a {
        font-size: 20px;
    }

    .header nav {
        width: calc(100% - 50px)
    }

    .header .hamburger .line {
        width: 20px;
    }
}

/*HEADER END*/
/*///////////////////////////////////////////*/
/*HERO START*/
.hero {
    /* min-height: calc(100vh - 150px); */
    min-height: 100vh;
    background-color: #C4DFDF;
    position: relative;
    padding: 30px 25px;
    padding-left: 70px;
}

.hero .social-media {
    position: fixed;
    top: 20%;
    right: 30px;
    width: 50px;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.hero .social-media .line {
    width: 1px;
    height: 35%;
    background-color: #11101b;
}

.hero .social-media a {
    color: #11101b;
    transition: 0.5s;
}

.hero .social-media a:hover {
    color: #fefefe;
}

.hero .hero-text {
    position: absolute;
    top: 40%;
    width: fit-content;
}

.hero .hero-text h1 {
    color: #11101b;
    font-size: 80px;
    font-weight: 600;
    letter-spacing: 5px;
}

.hero .hero-text h1 span {
    color: #fefefe
}

.hero-text .hero-description {
    display: flex;
    align-items: center;
}

.hero-text .hero-description img {
    height: 100%;
    width: 10%;
}

.hero-text .hero-description p {
    align-self: flex-end;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
}

/*///////////////////////////////////////*/
@media (min-width: 320px) and (max-width: 767px) {

    /* CSS rules for mobile devices */
    .hero {
        padding: 30px 25px;
        padding-left: 10%;
    }

    .hero .hero-text h1 {
        color: #11101b;
        font-size: 30px;
        font-weight: 800;
        letter-spacing: 2px;
    }

    .hero .hero-description img {
        width: 10%;
        height: 80%;
    }

    .hero-text .hero-description p {
        font-size: 7px;
    }

    .hero .social-media {
        right: 5px
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    /* CSS rules for tablets */
    .hero {
        padding: 30px 25px;
        padding-left: 60px;
    }

    .hero .hero-text h1 {
        color: #11101b;
        font-size: 50px;
        font-weight: 800;
        letter-spacing: 3px;
    }

    .hero .hero-description img {
        width: 10%;
    }

    .hero-text .hero-description p {
        font-size: 12px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

    /* CSS rules for smaller laptops */
    .hero {
        padding: 30px 25px;
        padding-left: 80px;
    }

    .hero .hero-text h1 {
        color: #11101b;
        font-size: 80px;
        font-weight: 800;
        letter-spacing: 3px;
    }

    .hero .hero-description img {
        width: 10%;
    }

    .hero-text .hero-description p {
        font-size: 17px;
    }
}

@media (min-width: 1200px) {

    /* CSS rules for larger laptops and desktops */
    .hero {
        padding: 30px 25px;
        padding-left: 100px;
    }

    .hero .hero-text h1 {
        color: #11101b;
        font-size: 75px;
        font-weight: 800;
        letter-spacing: 3px;
    }

    .hero .hero-description img {
        width: 12%;
    }

    .hero-text .hero-description p {
        font-size: 17px;
    }
}

@media (min-width: 2560px) {
    .hero {
        padding: 30px 25px;
        padding-left: 300px;
    }

    .hero .hero-text h1 {
        color: #11101b;
        font-size: 120px;
        font-weight: 800;
        letter-spacing: 3px;
    }

    .hero .hero-description img {
        width: 15%;
    }

    .hero-text .hero-description p {
        font-size: 30px;
    }
}

/*HERO END*/
/*//////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////*/
/*ABOUT START*/
.about {
    width: 100%;
    height: 100vh;
    background-color: #C4DFDF;
    padding: 80px 25px 30px;
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-header {
    margin: 0 auto;
    width: fit-content;
}

.about-header h2 {
    font-size: 60px;
    font-weight: 600;
    color: #fefefe;
    position: relative;
    cursor: pointer;
}

.about-header h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 65%;
    height: 3px;
    background-color: #fefefe;
    transition: 0.6s;
}

.about-header h2:hover::after {
    width: 100%;
}

.about .about-container {
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-container .about-img {
    width: 300px;
    height: 300px;
    background-color: #fefefe;
    position: relative;
}

.about-container .about-img img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -25px;
    right: -45px;
    border: 5px solid #C4DFDF
}

.about-container .about-text {
    width: 60%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-container .about-text h3 {
    font-size: 40px;
    font-weight: 600;
    color: #11101b
}

.about-container .about-text p {
    color: #11101b
}

/*/////////////////////////////////////////////////////*/
@media (min-width: 320px) and (max-width: 767px) {

    /* CSS rules for mobile devices */
    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 25px;
        padding-left: 30px;
    }

    .about-header h2 {
        font-size: 45px;
        font-weight: 600;
        color: #fefefe;
        position: relative;
        cursor: pointer;
        margin-top: 60px;
    }

    .about-header h2::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 65%;
        height: 3px;
        background-color: #fefefe;
        transition: 0.6s;
    }

    .about-header h2:hover::after {
        width: 100%;
    }

    .about .about-container {
        width: 85%;
        height: 85%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 15px;
    }

    .about-container .about-img {
        width: 130px;
        height: 130px;
        background-color: #fefefe;
        position: relative;
    }

    .about-container .about-img img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: -7px;
        right: -10px;
        border: 5px solid #C4DFDF
    }

    .about-container .about-text {
        width: 95%;
        height: 40%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 4%;
    }

    .about-container .about-text h3 {
        font-size: 25px;
        font-weight: 600;
        color: #11101b
    }

    .about-container .about-text p {
        color: #11101b;
        font-size: 12px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    /* CSS rules for tablets */
    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 25px;
        padding-left: 50px;
    }

    .about-header h2 {
        font-size: 55px;
        font-weight: 600;
        color: #fefefe;
        position: relative;
        cursor: pointer;
        margin-top: 50px;
    }

    .about-header h2::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 60%;
        height: 3px;
        background-color: #fefefe;
    }

    .about-header h2:hover::after {
        width: 100%;
    }

    .about .about-container {
        width: 85%;
        height: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 15px;
    }

    .about-container .about-img {
        width: 160px;
        height: 160px;
        background-color: #fefefe;
        position: relative;
    }

    .about-container .about-img img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: -7px;
        right: -10px;
        border: 5px solid #C4DFDF
    }

    .about-container .about-text {
        width: 95%;
        height: 35%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-container .about-text h3 {
        font-size: 35px;
        font-weight: 600;
        color: #11101b
    }

    .about-container .about-text p {
        color: #11101b;
        font-size: 14px;
        text-align: justify;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

    /* CSS rules for smaller laptops */
    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 25px;
        padding-left: 75px;
    }

    .about-header h2 {
        font-size: 55px;
        font-weight: 600;
        color: #fefefe;
        position: relative;
        cursor: pointer;
        margin-top: 50px;
    }

    .about-header h2::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 70%;
        height: 3px;
        background-color: #fefefe;
        transition: 0.6s;
    }

    .about-header h2:hover::after {
        width: 100%;
    }

    .about .about-container {
        width: 90%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 25px;
    }

    .about-container .about-img {
        width: 300px;
        height: 300px;
        background-color: #fefefe;
        position: relative;
    }

    .about-container .about-img img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: -7px;
        right: -10px;
        border: 5px solid #C4DFDF
    }

    .about-container .about-text {
        width: 65%;
        height: 40%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        margin-top: 3%;
    }

    .about-container .about-text h3 {
        font-size: 50px;
        font-weight: 600;
        color: #11101b
    }

    .about-container .about-text p {
        color: #11101b;
        font-size: 20px;
        text-align: justify;
    }
}

@media (min-width: 1200px) {

    /* CSS rules for larger laptops and desktops */
    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 80px 25px 30px;
        padding-left: 75px;
    }

    .about-header h2 {
        font-size: 60px;
        font-weight: 600;
        color: #fefefe;
        position: relative;
        cursor: pointer;
        margin-top: 60px;
    }

    .about-header h2::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 60%;
        height: 3px;
        background-color: #fefefe;
    }

    .about-header h2:hover::after {
        width: 100%;
    }

    .about .about-container {
        width: 90%;
        height: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* padding-top: 35px; */
    }

    .about-container .about-img {
        width: 280px;
        height: 280px;
        background-color: #fefefe;
        position: relative;
    }

    .about-container .about-img img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: -7px;
        right: -10px;
        border: 5px solid #C4DFDF
    }

    .about-container .about-text {
        width: 65%;
        height: 85%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 3%;
    }

    .about-container .about-text h3 {
        font-size: 50px;
        font-weight: 600;
        color: #11101b
    }

    .about-container .about-text p {
        color: #11101b;
        font-size: 18px;
        text-align: justify;
    }
}

@media (min-width: 2560px) {
    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 25px;
        padding-left: 120px;
    }

    .about-header h2 {
        font-size: 160px;
        font-weight: 600;
        color: #fefefe;
        position: relative;
        cursor: pointer;
    }

    .about-header h2::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 60%;
        height: 3px;
        background-color: #fefefe;
    }

    .about-header h2:hover::after {
        width: 100%;
    }

    .about .about-container {
        width: 80%;
        height: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* padding-top: 35px; */
    }

    .about-container .about-img {
        width: 600px;
        height: 600px;
        background-color: #fefefe;
        position: relative;
    }

    .about-container .about-img img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: -10px;
        right: -20px;
        border: 5px solid #C4DFDF
    }

    .about-container .about-text {
        width: 65%;
        height: 60%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 3%;
    }

    .about-container .about-text h3 {
        font-size: 100px;
        font-weight: 600;
        color: #11101b
    }

    .about-container .about-text p {
        color: #11101b;
        font-size: 35px;
    }
}

/*ABOUT END*/
/*///////////////////////////////////////////////////////*/
/*CONTACT START*/
.contact {
    height: 90vh;
    background-color: #C4DFDF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    padding-left: 70px;
}

.contact-container {
    width: 85%;
    height: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
}

.contact-container h2 {
    font-size: 80px;
    font-weight: 600;
    color: #11101b;
}

.contact-container a {
    color: #11101b;
    font-size: 35px;
    text-decoration: underline;
    transition: 0.5s;
}

.contact-container a:hover {
    color: #fefefe
}

.contact p {}

.contact p span {
    text-decoration: underline;
}


/*////////////////////////////////////////////////*/
@media (min-width: 320px) and (max-width: 767px) {

    /* CSS rules for mobile devices */
    .contact {
        padding-left: 10%;
    }

    .contact-container {
        padding: 0;
    }

    .contact-container h2 {
        font-size: 30px;
    }

    .contact-container a {
        font-size: 15px;
    }

    .contact p {
        font-size: 7px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    /* CSS rules for tablets */
    .contact {
        padding-left: 10%;
    }

    .contact-container {
        padding: 0;
    }

    .contact-container h2 {
        font-size: 50px;
    }

    .contact-container a {
        font-size: 22px;
    }

    .contact p {
        font-size: 10px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

    /* CSS rules for smaller laptops */
    .contact {
        padding-left: 10%;
    }

    .contact-container {
        padding: 0;
    }

    .contact-container h2 {
        font-size: 120px;
    }

    .contact-container a {
        font-size: 50px;
    }

    .contact p {
        font-size: 15px;
    }
}

@media (min-width: 1200px) {

    /* CSS rules for larger laptops and desktops */
    .contact {
        padding-left: 10%;
    }

    .contact-container {
        padding: 0;
    }

    .contact-container h2 {
        font-size: 120px;
    }

    .contact-container a {
        font-size: 40px;
    }

    .contact p {
        font-size: 14px;
    }
}

@media(min-width: 2560px) {
    .contact {
        padding-left: 10%;
    }

    .contact-container {
        padding: 0;
    }

    .contact-container h2 {
        font-size: 200px;
    }

    .contact-container a {
        font-size: 80px;
    }

    .contact p {
        font-size: 25px;
    }
}

/*CONTACT END*/